name: Build and Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Build
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest]

    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    env:
      dotnetActionVersion: '10.0.x'
      solutionFile: AgiPlayer.slnx

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.dotnetActionVersion }}

    - name: Clean
      working-directory: src
      run: dotnet clean ${{env.solutionFile}} --configuration Release && dotnet nuget locals all --clear

    - name: Build
      working-directory: src
      run: dotnet build ${{env.solutionFile}} --configuration Release

    - name: Format
      working-directory: src
      run: dotnet format ${{env.solutionFile}} --verify-no-changes --verbosity diagnostic

    - name: Test
      working-directory: src
      run: dotnet test --solution ${{env.solutionFile}} --no-restore --verbosity normal
